<div class="background"></div>
<div class="container">
  <div class="container">
   
   <div class="row">
     <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
       <div class="row">
        <div class="col-sm-6">
          <div class="card" style="background:url('../../../assets/img/login_side.png') no-repeat;background-size:cover;min-height: 380px">
            
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="d-flex-center"> -->
             <div class="card-header">
                <h4>Login</h4>
             </div>
             <div class="card-form">
               <!-- <div class="form-row">
                 <i class="material-icons">face</i>
                 <mat-form-field color="accent">
                   <input matInput type="text" matInput placeholder="First Name"/>
    
                 </mat-form-field>
               </div> -->
               <div class="form-row">
                 <i class="material-icons">email</i>
                 <mat-form-field color="accent">
                   <input matInput type="email" #username placeholder="Email address"
                  name="username"/>
                   <!-- <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
                    Email is required
                  </mat-error> -->
                 </mat-form-field>
               </div>
               <div class="form-row">
                 <i class="material-icons">lock_outline</i>
                 <mat-form-field color="accent">
                   <input type="password" #password matInput placeholder="Password"
                   name="password"/>
                   <!-- <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
                    Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
                  </mat-error>
                  <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
                    Password is required
                  </mat-error> -->
                  
                 </mat-form-field>
                
               </div>
               <div class="form"> <span  style="color: red">{{msg}}</span></div>
             </div>
    
             
             <div class="card-footer">
               <!-- <button [disabled]="!loginForm.valid" mat-raised-button >LET'S GO</button> -->
               <button mat-button (click)="loginBtn(username.value,password.value)">LET'S GO</button>
               
             </div>
            <!-- </form> -->
           </div>
        </div>
       </div>
     </div>


     
   </div>
  </div>
</div>
